*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;;
}

.container {
    width: 85%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid rgb(88, 88, 88);
    box-shadow: 2px 2px 2px lightgray;
}

.logo {
    width: 11.5em;
}

.nav__list {
    align-items: center;

}

.nav__item {
    list-style: none;
    font-size: 1.75em;

}

.nav__link {
    text-decoration: none;
    padding: 0.2em 0.5em;
    border: 2px solid transparent;
    border-radius: 5px;

}

.nav__link:hover {
    opacity: 70%;
    background-color: black;
}

.nav__link--btn {
    /* background-color: rgb(0, 0, 0); */
    border: 2px solid transparent;
    color: black;
}

.nav__item + .nav__item {
    margin-left: 2.5em;
}

.primary__nav {
    color: rgb(255, 0, 0);
}

.secondary__nav {
    color: red;
}


.login__section {
    /* align-items: center; */
    justify-content: center;
    height: 100vh;

}

.login__details {
   padding: 2em;
   text-align: center;
   background-color: lavenderblush;

}

.heading__statment {
    font-size: 2em;
    font-weight: 500;
}

.statment {
    padding-bottom: 3em;
    color: #69718c;
    line-height: 1.5;
    margin-top: 15px;
}

.login--name,.login--password {
    font-family: serif;
}

.login--name__input {
    padding: 0 48px 0 24px;
    margin-top: 10px;
    font-size: 1.25em;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #2b2d42;
    background-color: #f4f7fc;
    line-height: 3;
}

.forgot__password {
    margin-top: 8px;
}

.forgot__password > a {
    color: #8d9cb6;
    text-decoration: none;
}

.forgot__password >a:hover {
    color: red;
}

.login--btn {
    margin-top: 1.5em;

    background-color: #e3001b;
    font-size: 1em;
    font-weight: bold;
    line-height: 3;
    border-radius: 5px;

    box-shadow: none;
    border: 2px solid transparent;
    
}

.login--btn:hover {
    opacity: 70%;
}

.submit__btn {
    padding: 1em 4em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.selector__para {
    font-size: 1.25em;

}