*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;;
}

.container {
    width: 85%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid rgb(88, 88, 88);
    box-shadow: 2px 2px 2px lightgray;
}

.logo {
    width: 11.5em;
}

.nav__list {
    align-items: center;

}

.nav__item {
    list-style: none;
    font-size: 1.75em;

}

.nav__link {
    text-decoration: none;
    padding: 0.2em 0.5em;
    border: 2px solid transparent;
    border-radius: 5px;

}

.nav__link:hover {
    opacity: 70%;
    background-color: black;
}

.nav__link--btn {
    /* background-color: rgb(0, 0, 0); */
    border: 2px solid transparent;
    color: black;
}

.nav__item + .nav__item {
    margin-left: 2.5em;
}

.primary__nav {
    color: rgb(255, 0, 0);
}

.secondary__nav {
    color: red;
}

.hero__section {
    background-image: url(img/hero__bg--img.PNG);
    margin: 0 auto;
    height: 60vh;
}

.hero__content {
    display: flex;
    justify-content: space-between;

}

.hero__text {
    width: 60%;
}

.hero__img {
    width: 30%;
}
.race__type--selector {
    border: 2px solid rgb(165, 4, 4);
    margin-top: 5em;
}

.race__type--selector + .race__type--selector {
    margin-left: 2em;
}

.car--image {
    padding: 1em;
    width: fit-content;
}

.car--image--nascar {
    padding: 1em;
    width: 90%;
}

.content__box {
    text-decoration: none;
    padding: 1em;
    margin-top: 1em;
}

.race__type--text {
    font-size: 1.3rem;
    color: black;

    margin: 1em 2em;
    width: 50%;
}

span {
    font-weight: bolder;
    font-size: 1rem;
    color: red;
}

big {
    color: black;
}

footer {
    background-color: black;
}

.footer__list {
    width: 85%;
    margin: 0 auto;
    margin-top: 3em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    color: red;
}

.footer__links {
    text-transform: uppercase;
}

.footer__items {
    color: yellow;
    text-decoration: none;
}